[[extend 'layout.html']]

<div class="section">
   <!-- Put the table here -->
   <h1 class = "title">Birds</h1>

   <a class = "button is-success" href="[[=URL('add')]]">
      <span class = "icon"><i class = "fa fa-plus"></i></span>
      <span>Add Entry</span>
   </a>

   <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>bird</th>
        <th>weight</th>
        <th>diet</th>
        <th>habitat</th>
        <th>n_sightings</th>
        <th></th>
        <th></th>
      </tr>
      [[for row in rows:]]
      <tr>
        <td>[[=row.bird]]</td>
        <td>[[=row.weight]]</td>
        <td>[[=row.diet]]</td>
        <td>[[=row.habitat]]</td>
        <td>[[=row.bird_count]]</td>
        <td>
          <a class="button" href="[[=URL('edit', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
          </a>
        </td>
        <td>
          <a class="button" href="[[=URL('inc', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-plus"></i></span> <span>Increment</span>
          </a>
        </td>
      </tr>
      [[pass]]
    </table>
  </div>

</div>
